aniso8601==9.0.1
asgiref==3.4.1
attrs==21.2.0
click==8.0.1
Flask==2.0.1
Flask-MySQLdb==0.2.0
flask-restx==0.5.0
flask-sqlacodegen==1.1.8
Flask-SQLAlchemy==2.5.1
greenlet==1.1.0
image==1.5.33
inflect==5.3.0
itsdangerous==2.0.1
Jinja2==3.0.1
jsonschema==3.2.0
MarkupSafe==2.0.1
mysql-connector-python==8.0.26
mysqlclient==2.0.3
Pillow==8.3.1
protobuf==3.17.3
pyrsistent==0.18.0
pytz==2021.1
qrcode==7.2
six==1.16.0
SQLAlchemy==1.4.22
sqlparse==0.4.1
Werkzeug==2.0.1
